<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="url" value="http://python.org"/>
    <!-- What site do you want to crawl? -->   
    <add key="logTextFileName" value="C:\Report.htm"/>
    <!-- Point this to some location that exists on your machine -->
  </appSettings>
</configuration>